:php
	App::import('Sanitize');
%br
= $html->link($html->image('icon_storage.png', array('alt' => 'Add','title'=>'Add')).'New Project',array('action'=>'add'),array('escape' => false,'class'=>'button addTimerIndex'))
%br
%br
%div.projects.index
	%h2 Projects
	%table
		%tr.altrow
			:php
				//only show user ids to admin
				if(isset($_SESSION['Auth']['User'])){
					if($_SESSION['Auth']['User']['group_id']=='1'){
						echo '<th>'.$this->Paginator->sort('user_id').'</th>';	
					}else{
						//do nothing
					}
				}
			%th
				= $this->Paginator->sort('title')
			%th
				= $this->Paginator->sort('description')
			%th
				= $this->Paginator->sort('total_time')
			%th.actions View | Edit | Delete
		:php
			$i = 0;
			foreach ($projects as $project):
				$class = null;
				if ($i++ % 2 == 0) {
					$class = ' class="altrow"';
				}
		%tr
			:php
				//only show user ids to admin
				if(isset($_SESSION['Auth']['User'])){
					if($_SESSION['Auth']['User']['group_id']=='1'){
						echo '<td>'.$this->Html->link($project['User']['id'], array('controller' => 'users', 'action' => 'view', $project['User']['id'])).'</td>';	
					}else{
						//do nothing
					}
				}
			%td
				= Sanitize::html($project['Project']['title'])
			%td
				= Sanitize::html($project['Project']['description'])
			%td
				= Sanitize::html($project['Project']['total_time'])
			%td.actions
				= $html->link($html->image('icon_magnify_glass.png', array('alt' => 'View','title'=>'View')),array('action' => 'view', $project['Project']['id']),array( 'escape' => false,'class'=>'view-link' ))
				= $html->link($html->image('icon_pencil.png', array('alt' => 'Edit','title'=>'Edit')),array('action' => 'edit', $project['Project']['id']),array( 'escape' => false,'class'=>'edit-link' ))
				= $html->link($html->image('icon_delete.png', array('alt' => 'Delete','title'=>'Delete')),array('action' => 'delete', $project['Project']['id']),array( 'escape' => false,'class'=>'delete-link'), sprintf(__('This will delete all timers part of this project too. Are you sure?', true), $project['Project']['id'] ))
		:php
			endforeach;
	%p
		:php
			echo '<span class="counter-text">'.$this->Paginator->counter(array(
				'format' => __('Page %page% of %pages%, showing %current% projects out of %count% total.', true)
			)).'</span>';
	%div.paging
		= $this->Paginator->prev($html->image('icon_arrow_left.png', array('alt' => 'Previous','title'=>'Previous')) . __('', true), array('escape' => false), null, array('escape' => false,'class'=>'disabled'))
		= $this->Paginator->next(__('', true) . $html->image('icon_arrow_right.png', array('alt' => 'Next','title'=>'Next')), array('escape' => false), null, array('escape' => false,'class' => 'disabled'))
%div.bottomLinks
	%h3 Actions
	%br
	= $this->Html->link(__($html->image('icon_list_bullets.png', array('alt' => 'List','title'=>'List')).'List Timers', true), array('controller' => 'timers', 'action' => 'index'),array('escape' => false,'class'=>'button addTimerIndex'))
	= $this->Html->link(__($html->image('icon_timer.png', array('alt' => 'Add','title'=>'Add')).'New Timer', true), array('controller' => 'timers', 'action' => 'add'),array('escape' => false,'class'=>'button addTimerIndex'))
	= $html->link($html->image('icon_download.png').'Export Projects to CSV', array('controller'=>'projects','action'=>'exportcsvProjects'),array( 'escape' => false,'class'=>'button addTimerIndex' ))