:php
	App::import('Sanitize');
= $html->link($html->image('http://static.homkora.com/img/icon_timer.png', array('alt' => 'Add','title'=>'Add')).'New Timer',array('controller'=>'timers', 'action'=>'add'),array('escape' => false,'class'=>'button addTimerIndex'))
%br
%br
= $form->create('Timer', array('action' => 'search'))
	%div.searchBox
		= $this->Form->input('search', array( 'label' => false,'placeholder'=>"Enter Timer Title",'class'=>'searchText'))
		%div.submit
			%input{:type="submit",:value="Search"}
= $form->end();
%div.timers.index
	%h2 Timers
	%table
		%tr.altrow
			%th
				= $this->Paginator->sort('project_id')
			%th
				= $this->Paginator->sort('title')
			%th
				= $this->Paginator->sort('time')
			%th
				= $this->Paginator->sort('description')
			%th.actions
				View | Edit | Delete
		:php
			$i = 0;
			foreach ($timers as $timer):
			//print_r($timer);
			$class = null;
			if ($i++ % 2 == 0) {
				$class = ' class="altrow"';
			}
		%tr
			%td
				= $this->Html->link(Sanitize::html($timer['Timer']['project_name']), array('controller' => 'projects', 'action' => 'view', $timer['Timer']['project_id']))
			%td
				= Sanitize::html($timer['Timer']['title'])
			%td
				= Sanitize::html($timer['Timer']['time'])
			%td
				= Sanitize::html($timer['Timer']['description'])
			%td.actions
				= $html->link($html->image('http://static.homkora.com/img/icon_magnify_glass.png', array('alt' => 'View','title'=>'View')),array('action' => 'view', $timer['Timer']['_id']),array( 'escape' => false,'class'=>'view-link' ))
				= $html->link($html->image('http://static.homkora.com/img/icon_pencil.png', array('alt' => 'Edit','title'=>'Edit')),array('action' => 'edit', $timer['Timer']['_id']),array( 'escape' => false,'class'=>'edit-link' ))
				= $html->link($html->image('http://static.homkora.com/img/icon_delete.png', array('alt' => 'Delete','title'=>'Delete')),array('action' => 'delete', $timer['Timer']['_id']),array( 'escape' => false,'class'=>'delete-link'), sprintf(__('Are you sure you want to delete # %s?', true), $timer['Timer']['_id'] ))
		:php
			endforeach;
	%p
		:php
			echo '<span class="counter-text">'.$this->Paginator->counter(array('format' => __('Page %page% of %pages%, showing %current% timers out of %count% total.', true))).'</span>';
	%div.paging
		= $this->Paginator->prev($html->image('http://static.homkora.com/img/icon_arrow_left.png', array('alt' => 'Previous','title'=>'Previous')) . __('', true), array('escape' => false), null, array('escape' => false,'class'=>'disabled'))
		= $this->Paginator->next(__('', true) . $html->image('http://static.homkora.com/img/icon_arrow_right.png', array('alt' => 'Next','title'=>'Next')), array('escape' => false), null, array('escape' => false,'class' => 'disabled'))
%br
%div.bottomLinks
	%h3 Actions
	%br
	= $this->Html->link(__($html->image('http://static.homkora.com/img/icon_list_bullets.png', array('alt' => 'List','title'=>'List')).'List Projects', true), array('controller' => 'projects', 'action' => 'index'),array('escape' => false,'class'=>'button addTimerIndex'))
	= $this->Html->link(__($html->image('http://static.homkora.com/img/icon_storage.png', array('alt' => 'List','title'=>'List')).'New Project', true), array('controller' => 'projects', 'action' => 'add'),array('escape' => false,'class'=>'button addTimerIndex'))