!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%title Time Tracking Made Simple | Homkora
		= $html->css('scss-style');
		= $html->css('jquery.stopwatch');
	%body
		%header
			%h1
				%a{:href => "http://homkora.com"} Homkora
			%nav
				:php
					// show different nav bars to different people
					if(isset($_SESSION['Auth']['User'])){
						if($_SESSION['Auth']['User']['group_id']=='1'){
							echo $this->element('navigation');	
						}else{
							echo $this->element('navigation_user');	
						}
					}else{
						echo $this->element('navigation_no_user');
					}
		#container
			%noscript
				Homkora must have javascript enabled.
			#content
				= $this->Session->flash();
				= $this->Session->flash("auth");
				= $content_for_layout;
				%div{:style => "clear:both;"}
			%div{:style => "clear:both;"}
		%footer.transparent_class
			= $this->element('footer');
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
		:javascript
			jQuery(function() {
				jQuery.support.placeholder = false;
				test = document.createElement('input');
				if('placeholder' in test) jQuery.support.placeholder = true;
			});
			$(function() {
				if(!$.support.placeholder) { 
					var active = document.activeElement;
					$(':text').focus(function () {
						if ($(this).attr('placeholder') != '' && $(this).val() == $(this).attr('placeholder')) {
							$(this).val('').removeClass('hasPlaceholder');
						}
					}).blur(function () {
						if ($(this).attr('placeholder') != '' && ($(this).val() == '' || $(this).val() == $(this).attr('placeholder'))) {
							$(this).val($(this).attr('placeholder')).addClass('hasPlaceholder');
						}
					});
					$(':text').blur();
					$(active).focus();
					$('form').submit(function () {
						$(this).find('.hasPlaceholder').each(function() { $(this).val(''); });
					});
				}
			});